{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="h-wish">Wish n°{{wish.id}}</h1>

    <div class="wish">
        <p>Title : <a>{{wish.title}}<a></p>
        <p>Description : {{wish.description}}</p>
        <p>Author : <a>{{wish.author}}<a></p>
        <p>Published : <a>{{wish.isPublished == 1?'yes':'no'}}<a></p>
        <p>Created : <a>{{wish.dateCreated|date('d/m/Y h:m')}}<a></p>
    </div>

{% endblock %}